<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom CSS -->
    <link href="/css/homepage.css" rel="stylesheet">
    
    <%- include imports.ejs -%>
    
    <title>Livewires</title>
</head>

<body>

	
		<%- include menu.ejs -%>

		<div class="col-md-3">
            	<%- include leftMenuFull.ejs -%>
        </div>

		<div class="container">
   			            
   			     	<div class="row">
				            <div class="col-md-7">
				                <a href="#">
				                    <img class="uk" style="max-width:135%, height:30%" src="../images/load.jpg" alt="">
				                </a>
				            </div>				               			            	  		      
		</div>

			
</body>



</html>

<style>

uk{
display: block;
width: 80;
max-width: 100%;
height: 30%;
}

html,body{
    position: relative;
    height: 100%;
}

</style>

